In [132]:
import pandas as pd
import random
arr=["AffiliationID_Place_Affiliation.csv","AuthID_AffiliationID.csv","AuthID_FieldID.csv","AuthID_Name.csv"
     ,"ConfID_FieldID.csv","ConfID_PaperID.csv","ConfID_Venue_Year.csv","FieldID_Topic.csv","KeywordID_PaperID.csv"
     ,"PaperID_AuthID.csv","PaperID_FieldID.csv","PaperID_Summary.csv","PaperID_Title.csv"]
for i in range(len(arr)):
    print(i,arr[i])
in_=list(map(int,input().split()))
data_in=pd.read_csv("NLP_Dataset.csv")
data_in.head()

0 AffiliationID_Place_Affiliation.csv
1 AuthID_AffiliationID.csv
2 AuthID_FieldID.csv
3 AuthID_Name.csv
4 ConfID_FieldID.csv
5 ConfID_PaperID.csv
6 ConfID_Venue_Year.csv
7 FieldID_Topic.csv
8 KeywordID_PaperID.csv
9 PaperID_AuthID.csv
10 PaperID_FieldID.csv
11 PaperID_Summary.csv
12 PaperID_Title.csv
3 4 5

,Question [Natural],SQL,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,What is the Name of the Author with ID $AuthID$ ?,SELECT Name FROM AuthID_Name WHERE AuthID='$Au...,NaN,NaN,NaN
1,Name the author whose ID is $AuthID$,SELECT Name FROM AuthID_Name WHERE AuthID='$Au...,NaN,NaN,NaN
2,What is the ID of the Author whose name is $Na...,SELECT AuthID FROM AuthID_Name WHERE Name='$Na...,NaN,NaN,NaN
3,List the Authors whose name begin with $Name$^ ?,SELECT AuthID FROM AuthID_Name WHERE Name='$Na...,NaN,NaN,NaN
4,What are the IDs of the Authors whose name beg...,SELECT AuthID FROM AuthID_Name WHERE Name LIKE...,NaN,NaN,NaN

In [133]:
maping={}
for i in in_:
    data=pd.read_csv(arr[i])
    for val in data.columns:
        if(val in maping):
            maping[val]=list(set(data[val]).intersection(set(maping[val])))
        else:
            maping[val]=list(set(data[val]))
#User defined PlaceHolders
maping['X']=[str(random.randrange(100,350,1)) for i in range(10)]
maping['Y']=[str(random.randrange(10,50,1)) for i in range(10)]

In [134]:
temp1=[]
temp2=[]
for i in maping:
    temp1.append(i)
    temp2.append(len(maping[i]))
uni_map=pd.DataFrame({'Column ID': temp1,'No of Unique Element': temp2})
uni_map

  Column ID  No of Unique Element
0      Name                 19143
1    AuthID                 19167
2    ConfID                   671
3   FieldID                    15
4   PaperID                 23774
5         X                    10
6         Y                    10

In [135]:
natural=[]
sql_=[]
def func(val):
    if(val<50):
        return val//2
    elif(val<200):
        return val//5
    while(val>50):
        val=val//2
    return val
for i in range(data_in.shape[0]):
    sig="NULL"
    nat=data_in.iloc[i]["Question [Natural]"].split("$")
    nal_=nat.copy()
    sql=data_in.iloc[i]["SQL"].split("$")
    sq_=sql.copy()
    if(len(nat)==1 and len(sql)==1):
        print(i,"Not Replaced",nat)
    else:
        if nat[1] in maping:
            if(len(nat[2])>=1):
                if(nat[2][0]=="^"):
                    sig="BEGIN"
                elif(nat[2][0]=="&"):
                    sig="CENTER"
            if(sig=="NULL"):
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    nal_[1]=maping[nat[1]][j]
                    sq_[1]=maping[nat[1]][j]
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            elif(sig=="BEGIN"):
                nal_[2]=nal_[2][1:]
                sq_[2]=sq_[2][1:]
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    ran=random.randrange(1,len(maping[nat[1]][j])-1, 1)
                    nal_[1]=maping[nat[1]][j][:ran]
                    sq_[1]=maping[nat[1]][j][:ran]
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            elif(sig=="CENTER"):
                nal_[2]=nal_[2][1:]
                sq_[2]=sq_[2][1:]
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    sat=random.randrange(1,len(maping[nat[1]][j])//2, 1)
                    end=random.randrange(len(maping[nat[1]][j])//2,len(maping[nat[1]][j])-1, 1)
                    nal_[1]=maping[nat[1]][j][sat:end]
                    sq_[1]=maping[nat[1]][j][sat:end]
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
#             print(i)
final=pd.DataFrame({'Natural': natural,'SQL': sql_})
final.to_csv("NPL-Augmented.csv")

In [136]:
print("Success")

Success