In [19]:
from NER import NER
from Graph import from_query
import pandas as pd
import spacy
from spacy import displacy
from difflib import get_close_matches
from column import give_column
from isCount import isCount
def remove_(select,where):
    res=[ele if ele not in where else None for ele in select]
    while(None in res):
        res.remove(None)
    return res
Data_Final=pd.read_csv("Augmented_Non_Complex.csv")
Natural=Data_Final['Natural'][50:60]
# Natural=["Display the authors who on the field Machine Translation and are from affiliate 'The MITRE Corporation'."]
SQL=Data_Final['SQL'][50:60]
# SQL=["SELECT DISTINCT COUNT(*) FROM AuthID_FieldID JOIN AuthID_Name ON AuthID_FieldID.AuthID=AuthID_Name.AuthID WHERE AuthID_FieldID.FieldID='Lexical Acquisition'"
Natural_after_NER=list(map(lambda x: NER(x)[1],Natural))
Where_Clause=list(map(lambda x: NER(x)[0],Natural))
# Where_ColName=list(map(lambda x: NER(x)[0][1],Natural))

In [20]:
Select_Clause=list(map(give_column,Natural_after_NER))
Is_Count=list(map(isCount,Natural_after_NER))
Select_Clause_Processed=[]
for i in range(len(Select_Clause)):
    if(Is_Count[i]):
        if(Where_Clause[i]==[]):
            Select_Clause_Processed.append(Select_Clause[i])
            query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Select_Clause_Processed[i][0])
            print("SELECT DISTINCT COUNT(*) ",query,sep='')
        else:
            Select_Clause_Processed.append(remove_(Select_Clause[i],Where_Clause[i][0][0]))
    #         print(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
            query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
            print("SELECT DISTINCT COUNT(*) ",query," WHERE ",last_table+'.'+Where_Clause[i][0][0],"=","'",Where_Clause[i][0][1],"'",sep='')
    else:
        if(Where_Clause[i]==[]):
            Select_Clause_Processed.append(Select_Clause[i])
            query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Select_Clause_Processed[i][0])
            print("SELECT DISTINCT ",first_table,".",Select_Clause_Processed[i][0]," ",query,sep='')
        else:
            Select_Clause_Processed.append(remove_(Select_Clause[i],Where_Clause[i][0][0]))
#             print(Select_Clause_Processed[i])
            if(len(Select_Clause_Processed[i])==0):
                print("Fuck")
            else:
    #         print(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
                query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
                print("SELECT DISTINCT ",first_table,".",Select_Clause_Processed[i][0]," ",query," WHERE ",last_table+'.'+Where_Clause[i][0][0],"=","'",Where_Clause[i][0][1],"'",sep='')

SELECT DISTINCT COUNT(*) FROM KeywordID_PaperID
SELECT DISTINCT KeywordID_PaperID.PaperID FROM KeywordID_PaperID WHERE KeywordID_PaperID.KeywordID='K-7325'

IndexError: list index out of range

In [21]:
list(SQL)

['SELECT DISTINCT COUNT(DISTINCT KeywordID_PaperID.KeywordID) FROM KeywordID_PaperID;',
 'SELECT DISTINCT KeywordID_PaperID.PaperID FROM KeywordID_PaperID WHERE KeywordID_PaperID.KeywordID=K-7325;',
 "SELECT DISTINCT AffiliationID_Place_Affiliation.Affiliate FROM AuthID_AffiliationID JOIN AuthID_Name ON AuthID_AffiliationID.AuthID=AuthID_Name.AuthID) JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AuthID_Name.Name='Masuyama, Shigeru';",
 "SELECT DISTINCT AuthID_Name.Name FROM AuthID_AffiliationID JOIN AuthID_Name ON AuthID_AffiliationID.AuthID=AuthID_Name.AuthID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AffiliationID_Place_Affiliation.Affiliate='Lopresti';",
 "SELECT DISTINCT AuthID_Name.Name FROM AuthID_AffiliationID JOIN AuthID_Name ON AuthID_AffiliationID.AuthID=AuthID_Name.AuthID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AffiliationID_Place_Affiliation.Place='Shihding Taiwan';",
 "SELECT DISTINCT AffiliationID_Place_Affiliation.Place FROM AuthID_AffiliationID JOIN AuthID_Name ON AuthID_AffiliationID.AuthID=AuthID_Name.AuthID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AuthID_Name.Name='Mungi, Ashish';",
 "SELECT DISTINCT COUNT(DISTINCT AuthID_Name.Name) FROM AuthID_AffiliationID JOIN AuthID_Name ON AuthID_AffiliationID.AuthID=AuthID_Name.AuthID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AffiliationID_Place_Affiliation.Place='Clayton Australia';",
 "SELECT DISTINCT FieldID_Topic.Topic FROM AuthID_AffiliationID JOIN AuthID_FieldID ON AuthID_AffiliationID.AuthID=AuthID_FieldID.AuthID JOIN FieldID_Topic ON AuthID_FieldID.FieldID=FieldID_Topic.FieldID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AffiliationID_Place_Affiliation.Affiliate='Telecom Bretagne';",
 "SELECT DISTINCT AffiliationID_Place_Affiliation.Affiliate FROM AuthID_AffiliationID JOIN AuthID_FieldID ON AuthID_AffiliationID.AuthID=AuthID_FieldID.AuthID JOIN FieldID_Topic ON AuthID_FieldID.FieldID=FieldID_Topic.FieldID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE FieldID_Topic.Topic='Sentiment Analysis';",
 "SELECT DISTINCT FieldID_Topic.Topic FROM AuthID_AffiliationID JOIN AuthID_FieldID ON AuthID_AffiliationID.AuthID=AuthID_FieldID.AuthID JOIN FieldID_Topic ON AuthID_FieldID.FieldID=FieldID_Topic.FieldID JOIN AffiliationID_Place_Affiliation ON AffiliationID_Place_Affiliation.AffiliationID=AuthID_AffiliationID.AffiliationID WHERE AffiliationID_Place_Affiliation.Place='Villanova PA';"]

In [22]:
Natural_after_NER

['How many unique keyword IDs are present ',
 'Which papers have the keyword ID as ',
 'List all the affiliation of the author  ',
 'List all the authors of the affiliate  ',
 'List all the authors from Shihding',
 'Which place is author from ',
 'How many authors are from Clayton ',
 'What are the fields does the affiliate work on ',
 'List the affiliates which work on the field ',
 'What are the fields does the affiliates in the place Villanova PA work on ']

In [23]:
Select_Clause

[['KeywordID'],
 ['KeywordID', 'PaperID'],
 ['Affiliate', 'AuthID'],
 ['Affiliate', 'AuthID'],
 ['AuthID'],
 ['Place', 'AuthID'],
 ['AuthID'],
 ['Affiliate', 'FieldID'],
 ['Affiliate', 'FieldID'],
 ['Place', 'Affiliate', 'FieldID']]

In [24]:
Where_Clause

[[],
 [['KeywordID', 'K-7325']],
 [['Name', 'Masuyama, Shigeru']],
 [['Affiliate', 'Lopresti']],
 [['Place', 'Taiwan']],
 [['Name', 'Mungi, Ashish']],
 [['Place', 'Australia']],
 [['Affiliate', 'Telecom Bretagne']],
 [['Topic', 'Sentiment Analysis']],
 []]

In [25]:
Select_Clause_Processed

[['KeywordID'], ['PaperID'], ['Affiliate', 'AuthID']]

In [26]:
list(Natural)

['How many unique keyword IDs are present?',
 'Which papers have the keyword ID as K-7325?',
 "List all the affiliation of the author 'Masuyama, Shigeru'.",
 "List all the authors of the affiliate 'Lopresti'.",
 'List all the authors from Shihding Taiwan',
 "Which place is author 'Mungi, Ashish' from?",
 'How many authors are from Clayton Australia?',
 "What are the fields does the affiliate 'Telecom Bretagne' work on?",
 "List the affiliates which work on the field 'Sentiment Analysis'",
 'What are the fields does the affiliates in the place Villanova PA work on?']

In [27]:
give_column("Which conference was held at and in")

['ConfID']