In [8]:
from NER import NER
from Graph import from_query
import pandas as pd
import spacy
from spacy import displacy
from difflib import get_close_matches
from column import give_column
def remove_(select,where):
    res=[ele if ele not in where else None for ele in select]
    while(None in res):
        res.remove(None)
    return res
Data_Final=pd.read_csv("/Users/prakash/Desktop/natural-to-sql/Final_Processed/Augmented.csv")
Natural=Data_Final['Natural'][20:30]
SQL=Data_Final['SQL'][20:30]
Natural_after_NER=list(map(lambda x: NER(x)[1],Natural))
Where_Clause=list(map(lambda x: NER(x)[0],Natural))
# Where_ColName=list(map(lambda x: NER(x)[0][1],Natural))

In [9]:
Select_Clause=list(map(give_column,Natural_after_NER))
Select_Clause_Processed=[]
for i in range(len(Select_Clause)):
    if(Where_Clause[i]==[]):
        Select_Clause_Processed.append(Select_Clause[i])
        query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Select_Clause_Processed[i][0])
        print("SELECT DISTINCT ",first_table,".",Select_Clause_Processed[i][0]," ",query,sep='')
    else:
        Select_Clause_Processed.append(remove_(Select_Clause[i],Where_Clause[i][0][0]))
#         print(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
        query,first_table,last_table=from_query(Select_Clause_Processed[i][0],Where_Clause[i][0][0])
        print("SELECT DISTINCT ",first_table,".",Select_Clause_Processed[i][0]," ",query," WHERE ",
          Where_Clause[i][0][0],"=","'",Where_Clause[i][0][1],"'",sep='')

SELECT DISTINCT PaperID_Title.Title FROM PaperID_Title
SELECT DISTINCT PaperID_Title.Title FROM PaperID_Title WHERE PaperID='W06-0406'
SELECT DISTINCT ConfID_FieldID.ConfID FROM ConfID_FieldID
SELECT DISTINCT ConfID_Venue_Year.Venue FROM ConfID_Venue_Year JOIN ConfID_FieldID ON ConfID_Venue_Year.ConfID=ConfID_FieldID.ConfID ConfID_FieldID JOIN AuthID_FieldID ON ConfID_FieldID.FieldID=AuthID_FieldID.FieldID AuthID_FieldID JOIN AuthID_Name ON AuthID_FieldID.AuthID=AuthID_Name.AuthID  WHERE Name='A'

IndexError: list index out of range

In [ ]:
list(SQL)

In [3]:
Natural_after_NER

['List all the papers IDs',
 'List all the authors IDs',
 'List all the papers which are written by author of authorID   ',
 'What are the papers written by   ',
 'How many papers are written by Author ID   ',
 'List all the authors who contributed to paper  ',
 'How many authors contributed to paper  ',
 'List all the authors for  ',
 'What is the number of Authors of Paper ID  ',
 'List all the papers with FieldID  ']

In [ ]:
Select_Clause

In [ ]:
Where_Clause

In [ ]:
Select_Clause_Processed

In [ ]:
list(Natural)