In [1]:
import pandas as pd
import random
arr=["AffiliationID_Place_Affiliation.csv","AuthID_AffiliationID.csv","AuthID_FieldID.csv","AuthID_Name.csv"
     ,"ConfID_FieldID.csv","ConfID_PaperID.csv","ConfID_Venue_Year.csv","FieldID_Topic.csv","KeywordID_PaperID.csv"
     ,"PaperID_AuthID.csv","PaperID_FieldID.csv","PaperID_Summary.csv","PaperID_Title.csv"]
for i in range(len(arr)):
    print(i,arr[i])
in_=list(map(int,input().split()))
# print(in_)
if(in_==[-1]):
    in_=[i for i in range(13)]
# print()
data_in=pd.read_csv("NLP_Non_Complex.csv")
data_in.head()

0 AffiliationID_Place_Affiliation.csv
1 AuthID_AffiliationID.csv
2 AuthID_FieldID.csv
3 AuthID_Name.csv
4 ConfID_FieldID.csv
5 ConfID_PaperID.csv
6 ConfID_Venue_Year.csv
7 FieldID_Topic.csv
8 KeywordID_PaperID.csv
9 PaperID_AuthID.csv
10 PaperID_FieldID.csv
11 PaperID_Summary.csv
12 PaperID_Title.csv
-1

,Question [Natural],SQL
0,List all the papers IDs,SELECT DISTINCT PaperID_AuthID.PaperID FROM Pa...
1,List all the authors IDs,SELECT DISTINCT PaperID_AuthID.AuthID FROM Pap...
2,List all the papers which are written by autho...,SELECT DISTINCT PaperID_AuthID.PaperID FROM Pa...
3,What are the papers written by '$AuthID$'?,SELECT DISTINCT PaperID_AuthID.PaperID FROM Pa...
4,How many papers are written by Author ID '$Aut...,SELECT DISTINCT COUNT(*) FROM PaperID_AuthID W...

In [2]:
maping={}
for i in in_:
    data=pd.read_csv(arr[i])
    for val in data.columns:
        if(val in maping):
            maping[val]=list(set(data[val]).intersection(set(maping[val])))
        else:
            maping[val]=list(set(data[val]))
#User defined PlaceHolders
maping['X']=[str(random.randrange(100,300,1)) for i in range(10)]
maping['Y']=[str(random.randrange(10,50,1)) for i in range(10)]
maping['Z']=[str(random.randrange(1000,2000,1)) for i in range(10)]
maping['W']=[str(i) for i in range(1,3)]

In [3]:
temp1=[]
temp2=[]
for i in maping:
    temp1.append(i)
    temp2.append(len(maping[i]))
uni_map=pd.DataFrame({'Column ID': temp1,'No of Unique Element': temp2})
uni_map

        Column ID  No of Unique Element
0           Place                   991
1       Affiliate                  1892
2   AffiliationID                  1963
3          AuthID                 11705
4         FieldID                    15
5            Name                 19143
6          ConfID                   671
7         PaperID                 20967
8           Venue                   368
9            Year                    44
10          Topic                    15
11      KeywordID                  8039
12        Summary                 21639
13          Title                 23437
14              X                    10
15              Y                    10
16              Z                    10
17              W                     2

In [4]:
natural=[]
sql_=[]
def func(val):
    return 1
for i in range(data_in.shape[0]):
    sig="NULL"
    nat=data_in.iloc[i]["Question [Natural]"].split("$")
    nal_=nat.copy()
    sql=data_in.iloc[i]["SQL"].split("$")
    sq_=sql.copy()
    if(len(nat)==1 and len(sql)==1):
        print(i,"Not Replaced",nat)
        natural.append("".join(nal_))
        sql_.append("".join(sq_))
    else:
        if nat[1] in maping:
            if(len(nat[2])>=1):
                if(nat[2][0]=="^"):
                    sig="BEGIN"
                elif(nat[2][0]=="&"):
                    sig="CENTER"
                elif(nat[2][0]=="-"):
                    sig="WORD"
            if(sig=="NULL"):
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    nal_[1]=str(maping[nat[1]][j])
                    sq_[1]=str(maping[nat[1]][j])
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            elif(sig=="BEGIN"):
                nal_[2]=nal_[2][1:]
                sq_[2]=sq_[2][1:]
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    ran=random.randrange(1,len(maping[nat[1]][j])-1, 1)
                    nal_[1]=str(maping[nat[1]][j][:ran])
                    sq_[1]=str(maping[nat[1]][j][:ran])
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            elif(sig=="CENTER"):
                nal_[2]=nal_[2][1:]
                sq_[2]=sq_[2][1:]
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    sat=random.randrange(1,len(maping[nat[1]][j])//2, 1)
                    end=random.randrange(len(maping[nat[1]][j])//2,len(maping[nat[1]][j])-1, 1)
                    nal_[1]=str(maping[nat[1]][j][sat:end])
                    sq_[1]=str(maping[nat[1]][j][sat:end])
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            elif(sig=="WORD"):
                nal_[2]=nal_[2][1:]
                sq_[2]=sq_[2][1:]
                temp=[random.randrange(0,len(maping[nat[1]]), 1) for k in range(func(len(maping[nat[1]])))]
                for j in temp:
                    val=random.randrange(0,len([i for i in maping[nat[1]][j].split() if len(i)>3]), 1)
                    f1=[i for i in maping[nat[1]][j].split() if len(i)>3]
                    nal_[1]=f1[val]
                    sq_[1]=f1[val]
                    natural.append("".join(nal_))
                    sql_.append("".join(sq_))
            print(i)
final=pd.DataFrame({'Natural': natural,'SQL': sql_})

0 Not Replaced ['List all the papers IDs']
1 Not Replaced ['List all the authors IDs']
2
3
4
5
6
7
8
9
10
11
12 Not Replaced ['List all the Field IDs.']
13
14
15
16 Not Replaced ['List all the summaries of all the papers ']
17
18
19 Not Replaced ['List titles of all the papers']
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37 Not Replaced ['List all the venues where the papers are presented']
38
39
40
41
42
43
44 Not Replaced ['List all the field IDs.']
45 Not Replaced ['List all the topics.']
46
47
48 Not Replaced ['How many topics are there?']
49 Not Replaced ['How many total papers are published?']
50 Not Replaced ['How many unique keyword IDs are present?']
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114 Not Replaced ['Give all the papers IDs']
115 Not Replaced ['Give all the authors IDs']
116
117
118
119
120
121
122
123
124
126 Not Replaced ['Display all the Field IDs']
127
128
129
130 Not Replaced ['Show summaries of all the papers']
131
132
133 Not Replaced ['Show titles of all the papers']
134
135
136
138
139
140
141
142
143
144
145
146
147
148
149
150
151 Not Replaced ['In which venues atleast one paper was published? ']
152
153
154
155
156
157
158 Not Replaced ['Show all the field IDs.']
159 Not Replaced ['Show all the topics.']
160
161
162 Not Replaced ['Find the number of the topics.']
163 Not Replaced ['What is the total number of papers published?']
164 Not Replaced ['Count the number of unique keyword IDs?']
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221

In [5]:
final=final.drop_duplicates()
final.to_csv("Augmented.csv")