In [10]:
from sqlout import sql_output
#sql1 -> Actual
#sql2 -> Prediction
def compare(sql1,sql2):
    out1_names,out1_rows=sql_output(sql1)
    out2_names,out2_rows=sql_output(sql2)
    print(out1_names,out2_names)
    count_=0
    for ele in out2_names:
        if ele in out1_names:
            count_+=1
    relative=count_/len(out2_names)
    relative_rows=1-(abs(len(out1_rows)-len(out2_rows))/len(out1_rows))
    return relative*relative_rows*100

In [11]:
compare("SELECT PaperID_AuthID.PaperID FROM PaperID_AuthID;","SELECT PaperID_AuthID.PaperID,PaperID_AuthID.AuthID FROM PaperID_AuthID;")

['PaperID'] ['PaperID', 'AuthID']

50.0